@font-face{
	font-family: 'Mosk';
	src: url('./mosk.ttf') format('truetype');
}

p{
	margin: 0px;
}

body {
	background-color: #2FCD85;
	margin: 0;
	font-family: Mosk;
}

a{
	text-decoration: none;
	color: #4255e0;
	font-face: bold;
}

h1 {
	margin-top: 40px;
	font-size: 50px;
	padding-left: 40px;
	padding-top: 10px;
	margin-bottom: 5px;
}


.passwordInput{
	font-family: Mosk;
	color: #4e4e4e;
	font-size: 16px;
	width: 87%;
	padding: 3px 2px;
	margin: 15px 40px;
	margin-bottom: 0px;
	display: inline-block;
	border: none;
	border-bottom: 1px solid darkgray;
	box-sizing: border-box;
	-webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}

.textInput{
	font-family: Mosk;
	font-size: 16px;
	width: 87%;
	padding: 3px 2px;
	margin: 20px 40px;
	color: #4e4e4e;
	margin-bottom: 0px;
	display: inline-block;
	border: none;
	border-bottom: 1px solid darkgray;
	box-sizing: border-box;
	-webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}

.logInText{
	color : #888888;
	margin-left: 25px;
	margin-top: 10px;
	font-size: 14px;
	-webkit-transition: font-weight 0.4s ease-in-out;
    transition: font-weight 0.4s ease-in-out;
}

.loginText:hover{
	text-shadow: 0 0 1em #bfbfbf;
}

::-webkit-input-placeholder{
	color: #bfbfbf;
}
::-moz-placeholder {
	color: #bfbfbf;
} 
:-ms-input-placeholder{
	color: #bfbfbf;
} 

input:focus {
	outline:none;
	border-bottom: 1px solid gray;
	text-shadow: 0 0 1em #bfbfbf;	
}


.closeButton {
	float: right;
	text-align: right;
    color: darkgray;
    font-size: 40px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 0;
    -webkit-transition: font-weight 0.4s ease-in-out;
    transition: font-weight 0.4s ease-in-out;
}

.closeButton:hover {
    color: gray;
    font-weight: 500;
    cursor: pointer;
}

.nextButton{
	margin-top: 20%;
	margin-left: 25%;
	padding: 15px 45px;
	font-family: Mosk;
	border-radius: 50px;
	border-color: #4255e0;
	background-color: #4255e0;
	color: white;
	margin: none;
	font-size: 25px;
	box-shadow: none;
	border: none;
	-webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;	
}




.nextButton:hover,
.nextButton:focus {
    background-color: #9999ea;
    border-color: #9999ea;
    cursor: pointer;
    outline: none;
}

.leftSide{
	float: left;
	width: 50%;
}

.rightSide{
	margin-left: 50%;
	overflow:hidden;
}

.passwordButton{
	position: inherit;
	float: right;
	width: 85%;
	margin: 0px 0px;
	font-size: small;
	color: #bfbfbf;
	-webkit-transition: text-shadow 0.4s ease-in-out;
    transition: text-shadow 0.4s ease-in-out;
}

.passwordButton:hover{
	text-shadow: 0 0 0.6em #bfbfbf;
	cursor: pointer;
}

.signUpButton{
	display:none;
	margin: 25% 25%;
	padding: 15px 45px;
	font-family: Mosk;
	border-radius: 50px;
	border-color: #249c66;
	background-color: #249c66;
	color: white;
	margin: none;
	font-size: 25px;
	box-shadow: none;
	border: none;
}

.signUpButton:hover,
.signUpButton:focus {
    background-color: #6ebf9b;
    border-color: #6ebf9b;
    cursor: pointer;
    outline: none;
}

.labelText{
	display: none;
	margin-top: 20px;
	margin-left: 80px;
}

.labelRequiredField{
	color: red;
	font-weight: bold;
}

.labelPasswordMismatch{
	color: orange;
	font-weight: bold;
}

.container {
	position: relative;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.columns{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	column-fill: auto;
}

.box {
	width: 600px;
	height: 400px;
	margin: auto;
	background-color: white;
}

.box-border {
	border: 1px solid #c5c5c5;		
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
